################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AoC/Data/AoCKey.txt
/AoC/obj/*
